body {
  background-image: url(https://images.unsplash.com/photo-1569470451072-68314f596aec?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  background-color: #001a00;
}

#residentes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 30px;
  margin-top: 50px;
  color: #fff;
}

.detalles-card {
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  box-shadow: 0px 4px 15px rgba(0, 255, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.detalles-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 25px rgba(0, 255, 0, 0.6);
}

#nombre-lugar {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

#nombre-lugar {
  height: 55px;
}

.info-hover {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.location-card {
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.location-card:hover .info-hover {
  display: block;
}

.location-card:hover {
  transform: scale(1.05);
}

#info-container {
  border-radius: 15px;
  padding: 30px;
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
  color: #ffffff; /* Color de texto para la sección de información */
  text-align: center; /* Centra el texto en el contenedor */
}

.info-caja {
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}

#nombre-lugar {
  font-size: 2.5rem; /* Tamaño de fuente grande */
  font-weight: bold; /* Negrita */
  color: #00ff00; /* Color verde brillante */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Sombra para resaltar el texto */
  text-align: center;
  margin-top: 50px;
}

.tipo-lugar,
.dimension-lugar {
  display: inline-block;
  font-size: 1.25rem;
  padding: 15px;
  margin-right: 20px;
  font-weight: 500;
  color: #00ff00;
  border: 2px solid #00ff00;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#residentes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 30px;
  margin-top: 50px;
  color: #fff;
}
